@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



html, body, [class*="css"], p, span, .st-ae, li, ul, .e16jpq802, .e16jpq806, div {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.e1nzilvr1, h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


.en6cib64{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color:#010101;
}Montserrat", sans-serif;



/* 
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');



html, body, [class*="css"], p, span, .st-ae, li, ul, .e16jpq802, .e16jpq806, div {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.e1nzilvr1{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}


.en6cib64{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color:#010101;
}Montserrat", sans-serif; */